<div 
class="top-container content" 
[ngStyle]="{
  'background-color': style.bgColor,
  'border-color': '#6D6767'
}">
    <div class="left-col">
      <p [ngStyle]="{'color':style.primeTxtColor}" class="top-heading">Take your brain to the gym</p>
      <div  *ngIf="!user" >
        <p  [ngStyle]="{'color':style.primeTxtColor}" class="top-text">Sign up and your IQ will go to the moon</p>
        <a href="login">
          <app-button
            color = {{style.contentTxtColor}}
            textColor = {{style.contentBgColor}}
            text="Sign up"
            fontSize="22px"
            widthPer="150px"
            fontFamily="Roboto"
          ></app-button>
        </a>
      </div>
      <div *ngIf="user">
        <p  [ngStyle]="{'color':style.primeTxtColor}" class="top-text">Your IQ will go to the moon</p>
        <a href="#releasesCategory">
        <app-button
            color = {{style.contentTxtColor}}
            textColor = {{style.contentBgColor}}
            text="Start"
            fontSize="22px"
            widthPer="150px"
            fontFamily="Roboto"
          ></app-button>
        </a>
      </div>
    </div>


    <div class="right-col">
      <img src="../../../assets/img/test.png">
    </div>
</div>

<div id="releasesCategory" class="releaseCategories" [ngStyle]="{'background-color': '#6D6767'}">
  <app-category-scroll [categories] = topCategories></app-category-scroll>
</div>

<div id="trending">
  <app-category-list [categories]= newCategories></app-category-list>
</div>



