<div class="top-container" [ngStyle]="{'background-color': style.home_background_top}">
  <div class="content">
    <div class="left-col">
      <p [ngStyle]="{'color':style.home_textColorOnBackGround}" class="top-heading">Take your brain to the gym</p>
      <div  *ngIf="!user; templateName" >
        <p  [ngStyle]="{'color':style.home_textColorOnBackGround}" class="top-text">Sign up and your IQ will go to the moon</p>
        <a href="login">
          <app-button
            color = {{style.home_colorButton}}
            textColor = {{style.home_textColorButton}}
            text="Sign up"
            fontSize="22px"
            widthPer="150px"
            fontFamily="Roboto"
          ></app-button>
        </a>
      </div>
      <div #templateName>
        <p  [ngStyle]="{'color':style.home_textColorOnBackGround}" class="top-text">Your IQ will go to the moon</p>
        <a href="#releasesCategory">
        <app-button
            color = {{style.home_colorButton}}
            textColor = {{style.home_textColorButton}}
            text="Start"
            fontSize="22px"
            widthPer="150px"
            fontFamily="Roboto"
          ></app-button>
        </a>
      </div>
    </div>


    <div class="right-col">
      <img src="../../../assets/img/test.png">
    </div>
  </div>
</div>

<div id="releasesCategory" class="releaseCategories" [ngStyle]="{'background-color': style.home_backfround_releaseCategory}">
  <app-category-scroll [categories] = categories></app-category-scroll>
</div>



