.top-container{
  padding-top: 10px;
  padding-bottom: 10px;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 60px;
  margin-bottom: 60px;
}

.left-col{
  max-width: 500px;
  margin-left: 10%!important;
  margin-right: 5%;

}

.right-col{
  justify-self:center;
}

.top-heading{
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 84px;
  letter-spacing: 0em;
  text-align: left;
  flex-grow: 1;
}

.top-text{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 35px;
  flex-grow: 1;
}

img{
  width: auto;
}
.releaseCategories{
  padding-top: 72px;
  padding-bottom: 64px;
}



