<div class="top-container" [ngStyle]="{'background-color': background_top}">
  <div class="content row">
    <div class="left-col col">
      <p [ngStyle]="{'color':textColorOnBackGround}" class="top-heading">Take your brain to the gym</p>
      <div *ngIf="!user" >
        <p  [ngStyle]="{'color':textColorOnBackGround}" class="top-text">Sign up and your IQ will go to the moon</p>
        <a href="login">
          <app-button
            color = {{colorButton}}
            textColor = {{textColorButton}}
            text="Sign up"
            fontSize="22px"
            widthPer="150px"
            fontFamily="Roboto"
          ></app-button>
        </a>
      </div>



    </div>


    <div class="right-col col text-center">
      <img src="../../../assets/img/test.png">
    </div>
  </div>
</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>
<div>Jnxksax</div>

