.container{

  margin-top: 30px;
}

.col-left{

}

.col-right{

}

.card{
  width: 252px!important;
}

.card-img-top{
  width: 250px!important;
  height: 150px!important;
  background-size: cover!important;
  object-fit:cover!important;
}

.name-category{
  margin-bottom: 0!important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.btn{
  border: none;
}

.span-input{
  height: 40px;
  width: 80px;
  margin-right: 5px!important;
}

.text-input{
  height: 40px;
  margin-top: 0px;
  border-radius: 0px;
}

.group{
  width: 350px;
}
