
.types{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  justify-items: center;
  max-width: 1000px !important;
}

.main{
  width: 100%;
  flex-direction: column-reverse !important;
}

.bigMain{
  width: 100% !important;
}

.icons{
  justify-content: space-around;
}

.details{
  width: 307px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin: 15px;
}

a{
  text-decoration: none;
  color: inherit;
}

.btn{
  border: none;
}

.span-input{
  height: 40px;
  width: 80px;
  margin-right: 5px!important;
}

.text-input{
  height: 40px;
  margin-top: 0px;
  border-radius: 0px;
}

.group{
  width: 350px;
}
