<div class="container topbar_breadcrumb">
  <div 
  [ngStyle]="{
      'color': style.contentTxtColor
  }"
  class="container">
  <a href="/home" class="topbar__node">Trang Chủ</a> 
  <span class="topbar__arraw"> &gt; </span> 
  <a href="/category" class="topbar__node nuxt-link-active">Các chủ đề</a> 
  <span class="topbar__arraw"> &gt; </span> 
  <a href="/category/{{category?.id}}" class="topbar__node">{{category?.name}}</a> 
</div></div>
<div class="bigMain">
  <div class="main flex-row">
      <div class="types">
        <div class="" *ngFor="let quiztype of quiztypes">
          <app-card-type-add-quiz [quiztype]="quiztype"></app-card-type-add-quiz>
        </div>
      </div>
    <div 
    [ngStyle]="{
      'background-color': style.contentBgColor,
      'color': style.contentTxtColor
    }"
    class="details">
      <h3>Tên: {{quiz.name}}</h3>
      <div>
        Thời gian: {{quiz!.time*1000| date:'mm:ss':'UTC'}}
      </div>
      <div class="flex-row icons">
        <i class="far fa-edit" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="setValue()"></i>
        <i class="far fa-save"(click)="save()"></i>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div class="group">
          <div class="input-group input-group-sm">
            <span class="input-group-text text-center span-input " id="inputGroup-sizing-sm">Tên </span>
            <input type="text" class="form-control text-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="name">
          </div>

          <div class="input-group input-group-sm" style="width:170px">
            <span class="input-group-text span-input">Thời gian</span>
            <input type="text" aria-label="First name" class="form-control text-input" [(ngModel)]="time_min">
            <div style="margin-left: 5px;margin-right: 5px;font-size: 22px;">:</div>
            <input type="text" aria-label="Last name" class="form-control text-input" [(ngModel)]="time_sec">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveEdit()">Save</button>
      </div>
    </div>
  </div>
</div>

