<div class="backClick">
    <app-button
    text="Trở về"
    color={{style.contentTxtColor}}
    textColor={{style.contentBgColor}}
    fontWeight='bold'
    (btnClick)=backClicked()
    ></app-button>
</div>
<div class="flex-row main">
    <div class="container question">
        <div *ngFor="let question of type.questions, let i = index">
            <app-add-question 
            [question]="question" 
            [ownerId]="ownerId"
            [index]="i+1" 
            (deleteQuestion)="removeQ($event, i)"
            (addQuestion)="addQ(i)"
            ></app-add-question>
        </div>
    </div>
    <div class="details">
        <app-card-type
        [type]="type"
        ></app-card-type>
        <app-button 
        [textColor]="style.blackColor" 
        [color]="style.secondColor" 
        [text]="'Lưu chỉnh sửa'" 
        (btnClick)="submitT()"
        *ngIf="checkOwner()"
        ></app-button>
    </div>
</div>

