.main{
    display: flex;
    margin: 5vh;
    justify-content: space-around;
}

@media (max-width: 1000px){
    .main{
        flex-direction: column-reverse;

    }
    .details{
        display: none !important;
    }
}

.details{
    width: 30%;
    height: fit-content;
    margin: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* position: fixed; */
}

