<div class="backClick">
    <app-button
    text="Trở về"
    color={{style.contentTxtColor}}
    fontWeight='bold'
    (btnClick)=backClicked()
    ></app-button>
</div>
<div class="flex-row main">
    <div class="container question">
        <div *ngFor="let question of type.questions, let i = index">
            <app-add-question 
            [question]="question" [index]="i+1" 
            (deleteQuestion)="removeQ(i)"
            (addQuestion)="addQ(i)"
            ></app-add-question>
        </div>
    </div>
    <div class="details">
    <app-card-type
    [type]="type"
    ></app-card-type>
    <app-button [textColor]="style.contentBgColor" [color]="style.secondColor" [text]="'Save'" (btnClick)="submitT()"></app-button>
    </div>
</div>

