.main{
    /* display: flex;
    margin: 5vh;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%;
    justify-items: center;
}

@media (max-width: 1000px){
    .main{
        grid-template-columns: 1fr;
    }
    .details{
        display: none !important;
    }
}

.question{
    max-width: 1000px;
}

.details{
    justify-self: self-start;
    width: 80%;
    height: fit-content;
    margin: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-width: 260px;
    /* position: fixed; */
}

