
<div class=" main">
    <div class="container question">
        <div *ngFor="let question of type.questions, let i = index">
            <app-add-question 
            [question]="question" [index]="i+1" 
            (deleteQuestion)="removeQ(i)"
            (addQuestion)="addQ(i)"
            ></app-add-question>
        </div>
    </div>
    <app-card-type class="details"
    [type]="type"
    ></app-card-type>
    <div class="buttons flex-row">
        <app-button [textColor]="style.contentBgColor" [color]="style.secondColor" [text]="'Save'" (btnClick)="submitT()"></app-button>
    </div>
</div>

