<div class="d-flex flex-column bg" style="min-height: 100%"
  style="background-image: url('{{backGroundImg}}');"
  [ngStyle]="{'background-color': backGroundColor}"
>
  <header>
    <app-header></app-header>
  </header>
  <!-- <div
  class="flex-col"
  [ngStyle]="{
    'background-color': style.bgColor
  }"
  > -->
  <div class="flex-col" style="margin-bottom: auto;" [ngStyle]="{
    'background-color': style.bgColor
  }">
    <router-outlet></router-outlet>
  </div>

  <!-- </div> -->
  <footer class="footer bg-light">
    <app-footer></app-footer>
  </footer>
</div>
