header{
    width: 100%;
}

.content{
    /* padding-top: 75px; */
    width: 100%;
}

.bg{
    background-size: cover;
    background-repeat: no-repeat;
}

.main{
    height: 100vh;
    display: grid;
    grid-template-rows: 56px 1fr 62px;
}

