.answers{
    display: flex;
    flex-direction: column;

}

h3{
    /* background-color: #086375; */
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
}

.question{
    border-radius: 15px;
    padding: 20px 10px;
}

