<div class="flex-col" [ngStyle]="{'background-color': getPass()}" >
  <div class="flex-row">
      <h3>{{result?.name}}</h3>
      <app-button
      (btnClick)="viewDetails(result!)"
      text="Xem"
      color="{{style.contentTxtColor}}"
      textColor="{{style.secondTxtColor}}"
      ></app-button>
  </div>
      <span>
      Tổng số câu: {{result?.max}} <br>
      Số câu trả lời đúng: {{result?.mark}}<br>
      Số câu cần để qua: {{result?.passMark}}<br>
      Thời gian làm bài: <label>{{ getDuration() | date:'mm:ss':'UTC'}}</label>
      </span>
</div>
