


<div class="main">
    <!-- *Edit question -->
    <div 
    *ngIf="question?.edit" class="questions flex-row" 
    (mouseenter)="hover()"
    (mouseleave)="notHover()"
    >
        <app-question-item
        [question]="question"
        [index]="index"
        [viewMode]="'edit'"
        (onDeleteQ)="onDelete()"
        (onRenameQ)="renameQ()"
        ></app-question-item>
        <div 
        [ngStyle]="{
            'background-color': style.contentBgColor,
            'color': style.contentTxtColor
        }"
        class="icon flex-col"
        *ngIf="showToolbar"
        >
            <fa-icon 
            [ngStyle]="{'color': style.navColor}" 
            class="fas fa-trash"
            (click)="onDelete()"
            ></fa-icon>
            <fa-icon
            [ngStyle]="{'color': 'inherit'}" 
            class="fas fa-pen-square"
            (click)="renameQ()"
            ></fa-icon>
        </div>
    </div>
    <div 
    *ngIf="!question?.edit"  class="edit-question flex-row"
    (mouseenter)="hover()"
    (mouseleave)="notHover()"
    >
        <div 
        [ngStyle]="{
            'background-color': style.contentBgColor,
            'color': style.primeTxtColor
        }"
        class="form-control shadow edit">
            <!-- <div>
                <label for="text">Question {{index}}</label>
            </div> -->
            <textarea 
            [ngStyle]="{
                'color': style.contentBgColor,
                'background': style.contentTxtColor
            }" 
            type="text" 
            name="text" 
            [(ngModel)]="question.text"
            id="text" 
            placeholder="Question {{index}}"></textarea>

            <!-- *Edit answer -->
            <div *ngFor="let answer of question?.answers, let i = index">
                <app-add-answer
                [answer]="answer"
                [index]="i+1"
                (onDeleteAnswer)="deleteAnswer(i)"
                (onAddAnswer)="newAnswer(i)"
                ></app-add-answer>
            </div>
        </div>
        <div 
        class="icon flex-col"
        [ngStyle]="{
            'background-color': style.contentBgColor,
            'color': style.contentTxtColor
        }"
        *ngIf="showToolbar"
        >
            <fa-icon 
            [ngStyle]="{'color': 'inherit'}" 
            class="fas fa-save"
            (click)="nameQuestion()"
            ></fa-icon>
            <fa-icon 
            [ngStyle]="{'color': style.navColor}" 
            class="fas fa-trash"
            (click)="onDelete()"
            ></fa-icon>
            <fa-icon 
            [ngStyle]="{'color': 'inherit'}" 
            class="fas fa-plus-square"
            (click)="onAddQuestion()"
            ></fa-icon>
        </div>
    </div>
</div>

