.container{
  background-color: blue;
}

.col-left{
  background-color: red;
}

.col-right{
  background-color: green;
}

.card{
  width: 252px!important;
  height: 240px!important;
}

.card-img-top{
  width: 250px!important;
  height: 150px!important;
  background-size: cover!important;
  object-fit:cover!important;
}

.name-category{
  margin-bottom: 0!important;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}
