.flex-row{
    justify-content: space-between;
}

.input-answer{
    flex-direction: row-reverse !important;
}

.icon{
    position: absolute;
    padding: 0px 7px 3px 0px;
    
}

svg{
    height: 23px;
    cursor: pointer;
}

.input-answer input{
    background-color: radial-gradient(79.59% 13727.03% at 19.21% 20.41%, #83D589 0%, rgba(0, 194, 14, 0) 100%) !important;
}
