<app-button
    text="Trở về"
    color={{style.contentTxtColor}}
    fontWeight='bold'
    (btnClick)=backClicked()
></app-button>
<div class="main">
    <div class="container flex-row">

    <app-button
    text="Bắt đầu bài thi"
    color={{style.secondColor}}
    fontWeight='bolder'
    (btnClick)=startQuiz()
    ></app-button>
    </div>
    <div class="type">
        <div *ngFor="let quizType of quiz?.quizType">
            <a href="type/{{quizType.type.id}}">
                <app-card-type
                [type]="quizType.type"
                ></app-card-type>
            </a>
        </div>
    </div>
    <button (click)="startQuiz()">Start quiz</button>
    <button (click)="editQuiz()">Edit quiz</button>
</div>
