a {
    text-decoration: none;
}

.main{
    flex-direction: column-reverse;
    width: 95vw;
    justify-content: space-around;
    height: 100%;
}

@media (max-width: 700px){
    /* .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    } */


    .modeToggle{
        width: fit-content !important;
        /* flex-direction: row !important; */
    }

}

.content {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 1rem;
}


.modeToggle {
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modeToggle app-button{
    padding: 5px 0px;
}

.content-btn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    row-gap: 20px;
}

.content-quiz-btn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    row-gap: 20px;
}


.toggle{
    width: 100%;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover{
    opacity: 0.8;
}
