a {
    text-decoration: none;
}

.main{
    margin-top: 20px;
    display: flex;
    width: 95vw;
    justify-content: space-around;
    
}

@media (max-width: 700px){
    .main{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .content{
        width: 100% !important;
        margin: 10px 0 0 0;
    }

    .modeToggle{
        width: 100% !important;
        flex-direction: row !important;
    }

    
    .modeToggle app-button{
        padding: 0px 5px !important;
    }

}

.content {
    width: 70%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 1rem;
}


.modeToggle {

    width: 25%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.modeToggle app-button{
    padding: 5px 0px;
    
    
}

.content-btn{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-items: center;
    row-gap: 20px;
}