<div 
[ngStyle]="{
    'color': style.contentTxtColor
}"
class="container topbar_breadcrumb">
    <a href="/home">Trang Chủ</a> 
    <span class="topbar__arraw"> &gt; </span> 
    <a href="/category">Các chủ đề</a> 
</div>
<div class="main flex-col">
    <div
    class="content">
        <div *ngIf="viewMode=='type'" class="content-btn">
            <div
            *ngFor="let type of category?.type">
                <a href="type/{{type.id}}">
                    <app-card-type
                    [type]="type"
                    ></app-card-type>
                </a>
            </div>
            <a href={{link_add_type}}>
            <app-button
            color="{{style.contentTxtColor}}"
            text="+"
            textColor="{{style.contentBgColor}}"
            widthPer="100px"
            ></app-button></a>
        </div>

        <div *ngIf="viewMode=='quiz'" class="content-quiz-btn">
            <div *ngFor="let quiz of category?.quiz">
                <app-quiz-card [quiz]="quiz"></app-quiz-card>
            </div>
            <div>
                <app-card
                [img]="'/addPlus.png'"
                [text]="'Thêm bài thi'"
                [link]= "link_add_quiz"
                ></app-card>
            </div>
        </div>
    </div>

    <div
    class="modeToggle">
        <app-button
        class="title"
        color="{{style.navColor}}"
        text="{{category?.name}}"
        fontSize="25px"
        (btnClick)="viewDetails()"
        >
        </app-button>
        <div class="flex-row toggle">
            <app-button
            color="{{style.primeColor}}"
            textColor="{{style.primeTxtColor}}"
            text="Type"
            (btnClick)="viewType()"
            ></app-button>
            <app-button
            color="{{style.primeColor}}"
            textColor="{{style.primeTxtColor}}"
            text="Quiz"
            (btnClick)="viewQuiz()"
            
            ></app-button>
        </div>
    </div>
</div>
