.card-quiz{
    width: 100px;
    height: auto;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

img{
    width: 100%;
}

.icon{
  width: 40px;
  margin: 0 0 0 10px;
  border-radius: 10px;
  align-self: center;
  min-height: 100px;
  color: inherit;
}

.icon-item{
  margin: 5px 0px;
  font-size: larger;
}

.btn{
  border: none;
}

.option{
  color: inherit;
}
