<button
[ngStyle]="{
    'background-color': color,
    'border': border,
    'color': textColor,
    'width': widthPer,
    'text-align': textAlign,
    'border-radius': borderRadius,
    'display': display,
    'font-size': fontSize,
    'height': height,
    'font-family':fontFamily,
    'font-weight': fontWeight
    }"
type="button"
(click)="onClick()"
class="btn"
>
{{text}}
<div *ngIf="img!=null && img!=''" class="answer">
    <img  src={{img}} alt="">
</div>
<div *ngIf="icon!=null && icon!=''" >
    <img  src={{icon}} alt="">
</div>

</button>


