.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    row-gap: 20px;
    background-color: #c3c3c3;
    width: 70%;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 20px;
}

