.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    justify-items: center;
    row-gap: 20px;
    height: fit-content;
    border-radius: 10px;
    padding: 1rem 1rem;
    margin-top: 20px;
}

a{
    text-decoration: none;
}
