

<div *ngIf="viewMode=='test'">
    <app-button class="ticker"
    color = "{{answer.is_select ? selectColor : primaryColor}}"
    icon="{{answer.is_select ? imgSelect : imgUnselect}}"
    borderRadius="{{pick_one ? '20px':'5px'}}"
    widthPer="43px"
    (btnClick)="OnSelect(answer)"
    ></app-button>
    <app-button class="answer-text" *ngIf="!answer.img"
    color = "{{answer.is_select ? selectColor : primaryColor}}"
    text="{{answer?.text}}"
    textColor= "{{answer.is_select ? selectTxtColor : primeTxtColor}}"
    class="answer-text"
    widthPer="{{answer.img==null ? '100%' : '25%'}}"
    textAlign="start"
    borderRadius="13px"
    (btnClick)="OnSelect(answer)"
    img={{answer.img}}
    >
    </app-button>
    
</div>

<div *ngIf="viewMode=='archive'||viewMode=='edit'">
    <app-button class="ticker"
    color = "{{resultColor()}}"
    img="{{answer.is_select ? imgSelect : imgUnselect}}"
    borderRadius="{{pick_one ? '20px':'5px'}}"
    widthPer="43px"
    ></app-button>
    <app-button class="answer-text"
    color = "{{resultColor()}}"
    text="{{answer?.text}}"
    textColor= "{{answer.is_select ? selectTxtColor : primeTxtColor}}"
    class="answer-text"
    widthPer="{{answer.img==null ? '100%' : '25%'}}"
    textAlign="start"
    borderRadius="13px"
    img={{answer.img}}
    >
    </app-button>
    
</div>

