<div 
[ngStyle]="{'background-color':style.contentBgColor}"
class="main container"
>
    <div class="flex-col">
        <img [src]="paths.imgPath +'/type_img_1.png'" alt="{{category?.name}}" class="top">
        
        <div class="bottom flex-row">
            <img [src]="paths.imgPath + '/avatar.png'" alt="" class="avatar">
            <div 
            [ngStyle]="{
                'color':style.contentTxtColor
            }"
            class="details flex-col">
            <span style="font-size: larger; font-weight: bold;">{{category?.name}}</span>
            <!-- <span> {{category?.type?.length}} questions</span> -->
            </div>
        </div>
    </div>
</div>