<div class="main flex-col container">
    <!-- *Edit tên type -->
    <div class="container flex-row">
        <div class="form-control name-type shadow" *ngIf="!isNamed">
            <div class="flex-row label">
            <label for="text">Type name</label>
            <fa-icon 
            class="fas fa-check"
            (click)="nameType()"
            ></fa-icon>
            </div>
            <input 
            type="text" 
            [(ngModel)]="newT.type_name"
            name="text" 
            id="text" placeholder="Type name">
        </div>

        <div class="container" *ngIf="isNamed">
            <div 
            class="container flex-col details"
            >
                <div class="flex-row type-name">
                    <fa-icon
                    class="fas fa-edit visi-hidden"
                    ></fa-icon>
                    <h3>{{newT.type_name}}</h3>
                    <fa-icon
                    class="fas fa-edit"
                    (click)="rename()"
                    ></fa-icon>
                </div>
                <span>Số câu hỏi: {{newT.questions?.length}}</span>
            </div>
        </div>
    </div>
    <!-- *Edit câu hỏi -->

    <div class="container">
        <div *ngFor="let question of newT.questions, let i = index">
            <app-add-question
            [question]="question"
            [index]="i+1"
            (deleteQuestion)="removeQ(i)"
            ></app-add-question>
        </div>
        <div class="buttons flex-row">
        <app-button 
        [color]="style.secondColor"
        [text]="'Add Question'"
        (btnClick)="addQ()"
        ></app-button>
        <app-button 
        [textColor]="style.primeTxtColor"
        [color]="'#0B8199'"
        [text]="'Save'"
        (btnClick)="submitT()"
        ></app-button></div>
    </div>
</div>