
<div class="body">
    <div class="exam">
        <div class="test-name flex-row">
            <app-button
                text="Trở về chủ đề"
                color="{{style.navColor}}"
                borderRadius="10px"
                fontWeight="bold"
            ></app-button>
            <app-button
                text="Bài thi {{quiz?.name}}"
                color="{{style.navColor}}"
                borderRadius="10px"
                fontWeight="bold"
            ></app-button>
        </div>

        <div class="exam-main">
            <div class="questionNav">
                <div class="question">
                    <app-question-item  
                    [question] = "curQuestion"
                    [index]="curQuestion?.index"
                    [viewMode]="'test'"
                    >
                    </app-question-item>
                </div>
                <div class="nav">
                    <app-button 
                    color="{{style.navColor}}"
                    text="Câu trước" 
                    textColor="{{style.secondTxtColor}}"
                    widthPer='100px'
                    (btnClick)="preQuestion()"
                    display="{{curQuestion?.index!=1 ? '' : 'none'}}">
                    </app-button>
                    <app-button 
                    color="{{style.navColor}}"
                    textColor="{{style.secondTxtColor}}"
                    text='Câu sau' 
                    widthPer='100px'
                    (btnClick)="nextQuestion()"
                    display="{{curQuestion?.index!=questions?.length ? '' : 'none'}}">
                    </app-button>
                    </div>

            </div>


            <div 
            [ngStyle]="{'background-color': style.contentBgColor}"
            class="map">
                <div class="timer" >
                    <app-timer
                    bgColor="{{alert ? style.navColor : style.contentTxtColor}}" 
                    txColor="{{style.secondTxtColor}}"
                    durationTime= {{durationTime}}
                    ></app-timer>
                </div>

                <div class="map-buttons">
                    <div *ngFor="let question of questions" >
                        <app-question-map-button
                        [curQuestion]="curQuestion"
                        [question] ="question" 
                        (btnClick)="viewQuestion(question)">
                        </app-question-map-button>
                    </div>
                </div>
                
                <div class="submit">
                    <app-button 
                    color="{{alert ? style.navColor : style.contentTxtColor}}" 
                    textColor="{{style.secondTxtColor}}"
                    text="Nộp bài"
                    (btnClick)="submit()"
                    ></app-button>
                </div>
            </div>
        </div>

    </div>
</div>







