.answers{
    display: flex;
    flex-direction: column;

}

h3{
    /* background-color: #086375; */
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    color: black;
    text-justify: distribute-all-lines;
}

.question{
    border-radius: 15px;
    padding: 0px 10px;
}

.flex-row{
    justify-content: space-between;
}

.icon{
    flex-flow: wrap;
    align-content: space-around !important;
    height: 40px;
    width: auto;
    align-self: baseline;
    width: 20px;
}


