<div class="container question" 
    [ngStyle]="{
        'display': display,
        'background-color': bgColorSetter()
    }">
    <div class="flex-row"
    [ngStyle]="{
        'color': style.primeTxtColor
    }"
    >
        <h3>{{index}}. {{question?.text}}</h3>
    </div>
    <!-- <p *ngFor="let answer of question?.answers">{{answer.text}}</p> -->
    <div *ngIf="question?.img!=null && question?.img!=''">
        <img  src={{question?.img}} alt="">
    </div>


    <div class="answers">
        <app-answer-button 
        *ngFor="let answer of question?.answers" 
        [pick_one]="question?.pick_one"
        [answer] = "answer"
        (onSelectAnswer)="toggleChoice(answer)"
        (onCheck)="check()"
        [viewMode]="viewMode"
        ></app-answer-button>
    </div>
</div>
