<div>
    <nav class="navbar navbar-expand-lg navbar-dark " [ngStyle]="{'background-color':styleMode.header_background_color}">
        <div class="container-fluid">
          <div>
            <a class="navbar-brand" href="" [ngStyle]="{'color':styleMode.header_textColor}">Home</a>

          </div>

          <div class="collapse d-flex" style="color: white;">
            <button class="btn"><img class="ml-4" style="width: 70px; height: 30px;" src='{{imgMode}}' (click)="changeMode()"></button>
            <ul *ngIf="user" class="nav">
              <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" [ngStyle]="{'color':styleMode.header_textColor}">
                  {{user?.name ? user?.name : user?.username}} <app-icon-avatar src = {{user?.img}} style="margin-left: 5px;"></app-icon-avatar>
                </div>
                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                  <li><a (click)="Logout()" class="dropdown-item" href="">Đăng xuất</a></li>
                </ul>
              </li>
            </ul>
            <div *ngIf="!user" class="login">
                <a href="login">Đăng nhập</a>
                /<a href="register" class="ml-0">Đăng ký</a>
            </div>
          </div>
        </div>
      </nav>
</div>

