a{
    color: rgb(224, 219, 219);
    text-decoration: none
}

a:hover{
    color: #FFC312;
}


.login a {
    margin-left: 10px;
}

.login{
  align-items: center;
  text-align: center;
  margin-top: 3%;
}
