a{
    text-decoration: none;
}

a :hover{
  color: #ffc312!important;
}

.login a {
    margin-left: 10px;
}

.login{
  align-items: center;
  text-align: center;
  margin-top: 3%;
}

.nav-links a {
    font-size: 1rem;
    margin-left: 1rem;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
}

.nav-links a:hover {
    color: #ffc312;
}
